body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
p {
  text-align: justify;
}

.header-section {
  display: flex;
}
.heading {
  font-size: 50px;
  font-weight: bold;
}
.colorful-heading {
  color: #ffa500;
}
.about {
  font-size: 40px;
  font-weight: bold;
}
.left-side {
  width: 50%;
  margin-left: 30px;
}
.image {
  margin-left: 100px;
  margin-top: 50px;
}
.image img {
  width: 70%;
}
.button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, tomato, orange);
}

/* Experience section style start */

.experience {
  font-size: 3rem;
}
.experience-section {
  display: flex;
  justify-content: space-around;
}
.left-side-experience {
  width: 600px;
  box-shadow: 10px 10px 40px gray;
  padding: 10px;
  border-left: 5px solid gray;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  margin-bottom: 30px;
}
/* Experience section style end */

.footer {
  text-align: center;
}
